body {
	margin: 0 auto;
	padding: 0;
	background: #FFF;
	color: #666;
	font-size: 12px;
	text-align: center;
	font-family: "Ukij Tuz Tom", Arial, "΢���ź�", "����", simsun, sans-serif;
	-webkit-font-smoothing: antialiased
}

body>div {
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

div,
form,
ul,
ol,
li,
span,
p,
dl,
dt,
dd,
img {
	margin: 0;
	padding: 0;
	border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal
}

ul,
ol,
li {
	list-style: none
}

table,
td,
input,
textarea {
	font-size: 12px
}

a {
	color: #333;
	text-decoration: none;
	font-family: "Ukij Tuz Tom", Arial, simsun, sans-serif
}

a:hover {
	color: #C00;
	text-decoration: underline;
	font-family: "Ukij Tuz Tom", Arial, simsun, sans-serif;
	-webkit-font-smoothing: antialiased
}

h2 {
	text-align: right
}

h2 span {
	float: right;
	font-weight: bold
}

.clear,
.area,
.pp,
.pt {
	zoom: 1
}

.show {
	display: block
}

.hidden {
	display: none
}

.pp,
.pt,
.list12 ul,
.list14 ul,
.area {
	width: 100%;
	margin: 0 auto
}

.pp:after,
.pt:after,
.area:after,
.clear:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both
}

.pp {
	text-align: center
}

.pp img {
	display: block;
	margin: 0 auto
}

.pp span {
	display: block
}

.pt {
	color: #666;
	line-height: 20px;
	text-align: left
}

.pt div {
	float: left;
	margin: 0 10px 0 0
}

.pt p {
	clear: none
}

.list14 li,
.list12 li {
	padding: 3px 0;
	color: #333;
	font-size: 12px;
	line-height: 16px;
	text-align: left
}

.list14 li {
	padding: 4px 0;
	font-size: 14px
}

.left,
.center,
.l,
.right,
.r {
	display: inline;
	float: left
}

.right,
.r {
	float: right
}

.fontArial {
	font-family: 'Arial'
}

.b {
	font-weight: bold
}

.blank5,
.blank8 {
	height: 5px;
	font-size: 1px
}

.blank8 {
	height: 8px
}

.more {
	text-align: right
}

.area {
	width: 950px
}

li.nodot {
	background: none !important;
	padding-left: 0 !important
}

em {
	font-style: normal
}

.line {
	height: 1px;
	overflow: hidden;
	background: url(http://news.sohu.com/upload/sogoutc20120307/x_line_news.gif) repeat-x
}

h2 span {
	color: #333
}

a,
a:hover {
	color: #333
}

h2 a,
h2 a:hover {
	color: #333
}

h2 {
	height: 16px;
	overflow: hidden;
	line-height: 16px
}

.hot_btn a {
	display: block
}

#newright {
	width: 352px;
	margin-left: 20px;
	overflow: hidden
}

.mod {
	width: 747px;
	margin: 0 auto;
	margin-top: 10px;
	height: 370px;
	overflow: hidden
}

#div_1_1 {
	height: 252px;
	overflow: hidden
}

#div_1_1 .left .l {
	width: 368px
}

#div_1_1 .left .l li {
	float: left;
	width: 174px;
	overflow: hidden;
	margin: 0 0 10px 10px
}

#div_1_1 .left .l .top_pic {
	width: 174px;
	height: 116px;
	overflow: hidden;
	position: relative
}

#div_1_1 .left .l .bottom_pic {
	width: 160px;
	height: 95px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px
}

#div_1_1 .left .l .bottom_pic1 {
	width: 160px;
	height: 95px;
	overflow: hidden;
	position: relative;
	margin-bottom: 14px;
	margin-top: 10px
}

.news {
	color: #004276
}

.news h1 {
	height: 35px;
	overflow: hidden;
	font: 18px/34px "Ukij Tuz Tom", "����";
	text-align: center;
	margin-left: 8px;
	margin-top: -8px
}

.news h1 a {
	color: #f54b00;
	font-size: 16px
}

#div_1_1 .left .r .blockCA {}

#div_1_1 .left .r .list13 {
	margin-top: 0
}

.list13 ul {
	width: 100%;
	margin: 0 auto
}

.list13 li,
.list12 li {
	margin-right:6px;
	height: 26px;
	overflow: hidden;
	font-size: 14px;
	padding: 0 10px 0 0;
	line-height: 26px;
	text-align: right;
	background: url(../../images/dot.png) no-repeat right;
}

.list13 li img {
	margin-right: 2px
}

.list13 li a:hover {
	color: #f54b00
}

#div_1_2 .pp {
	width: 100%
}

#div_1_2 .pp ul {
	margin-right: -11px
}

#div_1_2 .pp li {
	width: 112px;
	height: 100px;
	margin-right: 11px;
	display: inline;
	float: left;
	position: relative;
	overflow: hidden
}

#div_1_2 .pp .end {
	margin-right: 0
}

#div_1_2 .snList {
	margin: 3px auto 0
}

#div_1_2 .snList li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	background: url(http://news.sohu.com/upload/sogoutc20120307/x_bg_tab_li.gif) repeat-x left bottom
}

#div_1_2 .snList li span {
	float: left;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 5px 6px 0 0;
	background: #5591c5;
	color: #fff;
	font: 11px/12px Arial;
	text-align: center
}

#div_1_2 .video-pic {
	width: 190px;
	height: 210px;
	position: relative;
	overflow: hidden
}

#div_1_2 .video-pic .txt-txt-box {
	left: 40px;
	width: 150px
}

#div_1_2 .sogou-link {
	margin: 6px auto 0
}

#div_1_2 .v-boxB {
	margin-bottom: 10px
}

#div_1_2 .v-boxB .left {
	width: 492px;
	margin-left: 10px
}

#div_1_2 .v-boxB .right {
	width: 245px;
	margin-top: 0
}

.tit_bg,
.txt-bg {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	bottom: 0;
	filter: alpha(opacity=50);
	opacity: .50;
	transition: all .2s
}

.tworow {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px
}

.txt-txt {
	position: absolute;
	left: 0;
	right: 2%;
	bottom: 0;
	color: #fff;
	text-align: center;
	width: 100%;
	transition: all .2s;
	height: 100%;
	text-overflow: "";
	-o-text-overflow: "";
	-webkit-text-overflow: "";
	-moz-text-overflow: "";
	overflow: hidden;
	white-space: normal;
	text-overflow: ""
}

.txt-txt a {
	color: #fff;
	text-decoration: none;
	position: relative
}

.top_pic img,
.pp img {
	cursor: pointer;
	transition: all .6s;
	position: absolute;
	left: 0;
	top: 0
}

#div_1_2 .pp li.last {
	margin-right: 0
}

.list13 li a:hover,
.list12 li a:hover {
	font-size: 14px;
	font-family: "PingFang SC", Arial, "΢���ź�", "����", simsun, sans-serif;
	text-decoration: underline
}
